@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;700&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@700&display=swap');


/* font-family: 'Merriweather',
serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Open Sans',
sans-serif;
font-family: 'Raleway',
sans-serif; */


/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.header {
	height: 100vh;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
}

.header__top {
	padding: 26px 0px;
}

.header__top-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__list {
	display: flex;
	column-gap: 50px;
}

.menu__link {
	display: inline-block;
	color: #373A39;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.6px;
}

.menu__link--active {
	position: relative;
	transition: color 1s linear;
}

.menu__link--active::after {
	content: "";
	position: absolute;
	background-image: url(./image/header-line.svg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 0px;
	height: 4px;
	top: 21px;
	left: -5px;
	transition: width 0.4s ease-in-out;
}


.menu__link--active:hover::after {
	width: 118%;
}


.header__content {
	position: relative;
	background-image: url(./image/header-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 825px;
}


.header__content-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__title {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	font-weight: 700;
	margin-bottom: 18.5px;
}

.header__decr {
	color: #FCBB08;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2.743px;
}


.header__decor {
	position: absolute;
	bottom: 62px;
	left: 50%;
	transform: translateX(-50%);

}

.about {
	background: #F6F8FA;
}

.about__inner {
	padding: 152px 0px 159px 0px;
	display: flex;
	gap: 56px;
}

.about__title {
	display: inline;
	height: 60px;
}


.title {
	color: #242121;
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -1.65px;
	position: relative;
	width: 100%;
}

.title::after {
	content: "";
	position: absolute;
	background-color: #FCBB08;
	width: 60px;
	height: 4px;
	left: 0;
	bottom: -20px;
}

.decr {
	color: #373A39;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
}

.expertise__inner {
	padding: 142px 0px 164px 0px;
}

.expertise__title {
	font-size: 60px;
	margin-bottom: 89px;
}

.expertise__content {
	display: flex;
	margin-bottom: 117px;
}

.expertise__content-items {
	width: 50%;
}

.expertise__items {
	display: flex;
	gap: 40px;
}

.expertise__item {
	display: flex;
	gap: 36px;
}

.expertise__item-img {
	width: 50px;
	height: 50px;
}

.expertise__item-title {
	color: #333;
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 4.287px;
	margin-bottom: 18px;
}


.expertise__item-decr {
	color: #777;
}


.features {
	background-color: #F6F8FA;
}

.features__inner {
	display: flex;
}

.features__content {
	padding: 100px 0px 180px 0px;
	margin: 0 auto;
	width: 30%;
}

.features__title {
	margin-bottom: 85px;
}


.portfolio__inner {
	padding: 139px 0px 0px 0px;
}


.portfolio__header {
	display: flex;
	margin-bottom: 122px;
	gap: 324px
}


.portfolio__buttons {
	display: flex;
	gap: 45px
}

.portfolio__btn {
	position: relative;
	color: #333;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
}


.portfolio__btn::after {
	position: absolute;
	content: "";
	background-color: #FCBB08;
	width: 0;
	height: 2px;
	left: -1px;
	bottom: 14px;
	transition: width 0.3s ease-out;
}

.portfolio__btn:hover::after {
	width: 100%
}


.portfolio__items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	gap: 22px;
}


.portfolio__items-img {
	background-color: #EDEDED;
	height: 288px;
	border: 12px solid transparent;
	transition: all 0.4s linear;
	position: relative;
}

.portfolio__items-img:hover {
	background-color: rgba(76, 73, 73, 1);
	border: 12px solid rgba(102, 99, 99, 1)
}

.portfolio__items-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.portfolio__title {
	color: rgba(237, 237, 237, 1);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1.4px;
}

.portfolio__decr {
	color: rgba(237, 237, 237, 1);
	text-align: center;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
}

.portfolio__btn-all {
	margin-top: 72px;
	width: 100%;
	padding: 42px;
	color: #242121;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.2px;
	background: #F6F8FA;

}

.video {
	padding-top: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-style: italic;
	font-family: 'Merriweather', sans-serif;
	font-weight: 300;
	align-items: center;
}

.video__quotes {
	color: #242121;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	width: 45%;
	margin-bottom: 51px;
}

.video__quotes-author {
	color: #9E9E9E;
	text-align: center;
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 150px;
}

.video__content {
	background-image: url(./image/video-img.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	height: 324px;
	position: relative;
}

.video__content::after {
	content: "";
	background-image: url(./image/video-img-play.svg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 55px;
	height: 65px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.statistics__inner {
	padding: 164px 0px 194px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.statistics__item-num {
	display: block;
	color: #242121;
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 9px;
}

.statistics__item-text {
	color: #00B2A0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
}


.slider {
	padding: 307px 0px 114px 0px;
	background: #F6F8FA;

}


.slider__item-title {
	color: #242121;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 52px;
	margin-bottom: 32px;

}

.slider__item-decr {
	margin-bottom: 197px;
}

.team {
	padding: 120px 0px 164px 0px;
}

.team__title {
	margin-bottom: 120px;
}

.team__items {
	display: flex;
	column-gap: 18px;
}


.team__item-img {
	margin-bottom: 35px;
}

.team__item-name {
	color: #333;
	display: block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 12px;
}

.team__item-posititon {
	color: #C2C2C2;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
}


.pricing {
	background: #F6F8FA;
	padding: 144px 0px 164px 0px;
}


.pricing__title {
	margin-bottom: 109px;
}

.pricing__items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
}

.pricing__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FFF;
	padding-bottom: 53px;
}

.pricing__item-name {
	color: #242121;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
	position: relative;
	top: 25px;
	left: 25px;
}

.pricing__item-rate {
	color: #242121;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 80px;
	font-weight: 300;
	transform: translateX(+9%);
}

.pricing__item-rate span {
	color: #242121;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 51px;
}


.pricing__list {
	color: #242121;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 69px;
}

.pricing__list-item {
	margin-bottom: 30px;
}


.pricing__btn {
	color: #242121;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1.2px;
}

.contact__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.contact__content {
	padding: 145px 0px 162px 135px;
}

.contact__form {
	display: flex;
	flex-direction: column;
}

.contact__title {
	margin-bottom: 112px;
}

.contact__form-input {
	height: 38px;
	width: 85%;
	border-bottom: 2px solid rgba(55, 58, 57, 1);
	margin-bottom: 32px;
}

.contact__form-input::placeholder,
.contact__form-textarea::placeholder {
	color: #B8B8B8;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 3.709px;
}

.contact__form-textarea {
	width: 85%;
	height: 182px;
	border-bottom: 2px solid rgba(55, 58, 57, 1);
	margin-bottom: 40px;
}


.contact__form-btn {
	width: 30%;
	padding: 16px 58px;
	color: #FFF;
	text-align: center;
	background-color: #242121;
	;
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
}

.contact__map {
	background-image: url(./image/contact-map.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.contact__map::after {
	content: '';
	background-image: url(./image/contact-map-pin.svg);
	position: absolute;
	width: 57px;
	height: 70px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}


.footer__content {
	padding: 110px 0px 60px 0px;
	background: #373A39;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__logo {
	position: relative;
	margin-bottom: 98px;

}

.footer__logo::after {
	content: '';
	background-color: rgba(252, 187, 8, 1);
	position: absolute;
	width: 150px;
	height: 2px;
	top: 66px;
	left: -50px;
}


.footer__links {
	margin-bottom: 65px;
}

.footer__link {
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 4px;

}

.footer__link:not(:last-child) {
	margin-right: 31px;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
	color: #A8A8A8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 57px;
}

.footer__phone,
.footer__mail {
	color: #A8A8A8;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 32px;
}


.footer__copy {
	background-color: #2A2C2B;
	padding: 43px 0px 41px 0px;
	color: #CCC;
	text-align: center;
	font-family: 'Open Sans',sans-serif;
	font-size: 12px;
	font-weight: 400;
}