@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 400;
	color: #6C6C6C;
}

a {
	text-decoration: none;
	color: #6C6C6C;
}

button {
	outline: none;
	border: none;
}


.container {
	max-width: 1155px;
	margin: 0 auto;
	padding: 0px 10px;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 37px 0px;
}

.header__logo a {
	font-size: 33px;
	font-family: "Pacifico", sans-serif;
	color: black;
}

nav {
	margin-left: 500px;
}

nav a {
	font-size: 12px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 40px;
	transition-duration: 1s;
	transition-property: all;
}

nav a:hover {
	color: red;
	font-size: 14px;
}

nav a:last-child {
	margin-right: 0px;
}


.header__cart {
	position: relative;
}


.header__cart img:first-child {
	position: absolute;
	right: 70px;
	bottom: -10px;
}

.header__cart img:nth-child(2) {
	position: absolute;
	right: 35px;

}

.info {
	background-image: url(./image/info-background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.info__inner {
	display: flex;
	padding: 192px 0px 211px 0px;
	align-items: center;
	position: relative;
}

.subtitle {
	font-weight: 700;
	color: #D77474;
	font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
}

.info__block h4 {
	margin-bottom: 12px;
}

.info__block h1 {
	font-size: 48px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	color: black;
	margin-bottom: 14px;
	width: 65%;
}

.info__block span {
	color: #AC1313;
	font-family: Playfair Display;
	font-size: 68px;
	font-weight: 400;
	position: relative;
	top: -9px;
	left: -7px;

}

.info__block p {
	font-size: 16px;
	margin-bottom: 51px;
}

.info__visual img {
	position: absolute;
	left: 480px;
	top: 120px;
}

.button__style {
	color: white;
	padding: 19px 31px 21px 40px;
	background: #AC1313;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 12px;
	font-family: "Poppins", sans-serif;
}


.categorie > p {
	transform: rotate(-90deg);
	position: absolute;
	bottom: -360px;
	left: -24px;

}

.complementary__title {
	font-size: 18px;
	color: #DBDBDB;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;

}

.categorie__inner {
	padding: 120px 0px 151px 0px;
	position: relative;
}


.categorie__inner__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
}

.categorie__inner__header h5 {
	margin-bottom: 8px;
}

.categorie__inner__header h2 {
	color: black;
	font-family: Poppins, sans-serif;
	font-size: 40px;
	font-weight: 700;
	word-spacing: -5px;

}


.categorie__inner__header span {
	color: #AC1313;
	font-family: Playfair Display;
	font-size: 68px;
	font-weight: 400;
	position: relative;
	bottom: 10px;
}


.categorie__inner__visual {
	display: flex;
	justify-content: space-around;
	margin-bottom: 90px;
}


.categorie__inner__visual__block {
	position: relative;
}



.categorie__inner__visual__block__product {
	position: absolute;
	left: 85px;
	bottom: 80px;
}

.categorie__inner__visual__block__product p {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	color: white;
}



.categorie__inner__info {
	display: flex;
}

.categorie__inner__info__block {
	margin-right: 140px;
}

.categorie__inner__info__block:last-child {
	margin-right: 0px;
}

.categorie__inner__info__block h3 {
	color: black;
	font-family: Poppins;
	font-size: 29px;
	font-weight: 700;
	margin-bottom: 26px;
	width: 62%;
	line-height: 36px;
}



.line {
	width: 100%;
	border-top: 1px solid #DBDBDB;
	;
}

.featured-product {
	position: relative;
}


.featured-product > p {
	position: absolute;
	transform: rotate(-90deg);
	top: 490px;
	right: -20px;
}

.featured-product__inner {
	padding: 80px 0px 50px 0px;
}



.featured-product__inner__gold-black-pottery {
	display: flex;
	align-items: center;
	position: relative;


}


.featured-product__inner__gold-black-pottery__visual {
	margin: 0px 211px 0px 125px;

}


.featured-product__inner__gold-black-pottery__visual img:last-child {
	position: absolute;
	bottom: 145px;
	left: 0px;
	z-index: -1;
}




.featured-product__inner__orange-ceramic {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;

}

.featured-product__inner__orange-ceramic__visual {
	margin: 0px 125px 0px 283px;
}

.featured-product__inner__orange-ceramic__visual img:last-child {
	position: absolute;
	bottom: 115px;
	left: 600px;
	z-index: -1;
}


.featured-product__inner__block__text {
	width: 34%;
}

.featured-product__inner__block__text h4 {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 23px;

}

.featured-product__inner__block__text p {
	line-height: 24px;
	margin-bottom: 27px;
}

.featured-product__inner__block__text a {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 700;
}


.store {
	position: relative;
}

.store > p {
	position: absolute;
	transform: rotate(-90deg);
	top:810px;
	left:-54px;

}

.store__inner {
	padding: 120px 0px;

}

.store__heading {
	text-align: center;
	margin-bottom: 63px;
}


.store__heading h5 {
	margin-bottom: 17px;
}

.store__heading h2 {
	color: black;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.store__cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	row-gap: 21px;
	column-gap: 5px;
	margin-bottom: 60px;
}

.store__card__visual {
	margin-bottom: 5px;
}

.store__card__cost {
	width: 97.2%;
	padding-top: 15px;
}

.store__card__cost a {
	font-size: 16px;
	font-weight: 400;
}

.store__card__cost p {
	margin-bottom: 15px;
	color: #000;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.store__inner button {
	display: block;
	margin: 0 auto;
}


