@font-face {
	font-family: 'Stem';
	src: url(./fonts/Stem-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stem';
	src: url(./fonts/Stem-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Stem';
	src: url(./fonts/Stem-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url(./fonts/Gilroy-Medium.woff2) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url(./fonts/Gilroy-SemiBold.woff2) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url(./fonts/Gilroy-Bold.woff2) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
	padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
	margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol,
	dl):where([class]) {
	margin-block: 0;
}

:where(dd[class]) {
	margin-left: 0;
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
	list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
	--paragraphMarginBottom: 24px;

	margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
	margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
	display: block;
	max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
	font: inherit;
}

html {
	/**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
	height: 100%;
	/**
    Плавный скролл
   */
	scroll-behavior: smooth;
}

body {
	/**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
	min-height: 100%;
	/**
    Унифицированный интерлиньяж
   */
	line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg * [fill] {
	fill: currentColor
}

svg * [stroke] {
	stroke: currentColor
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
	transition-property: fill, stroke;
}


/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms;
		scroll-behavior: auto !important;
	}
}

:root {
	--color-light-blue: rgba(26, 35, 110, 0.7);
	--color-light-blue-opacity: rgba(26, 35, 110, 0.4);
	--color-dark-blue: #1a236e;
	--color-dark-blue-bg: #1a246f;
	--color-white: #ffffff;
	--color-opacity-white: rgba(255, 255, 255, 0.8);
	--color-gray: #f7f8fa;
	--color-yellow: #fcdf00;
	--color-dark-light: rgba(0, 0, 0, 0.2);

	--border-radius: 6px;
	--border: 1px solid rgba(0, 0, 0, 0.1);

	--font-family-base: "Stem", sans-serif;
	--font-family-accent: "Gilroy", sans-serif;

	--button-medium: 44px;
	--button-big: clamp(50px, 3.88vw, 56px);

	--container-width: 1110px;
	--container-padding-x: 15px;

	--transition-duration: 0.2s;
	--header-height: 80px;
}


body {
	font-family: var(--font-family-base);
	background-color: var(--color-white);
	font-size: 18px;
	font-weight: 500;
	line-height: 1.33;
}

a,
input,
textarea,
button,
svg * {
	transition-duration: var(--transition-duration);
}

a {
	margin-block: 0;
}


.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) *2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.title-big {
	font-size: clamp(24px, 4.44vw, 64px);
}

.title-medium {
	font-size: clamp(20px, 3.33vw, 48px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-white);
	font-weight: 700;
}


.description {
	font-size: clamp(18px, 1.66vw, 24px);
	color: var(--color-opacity-white);
}

.button {
	display: inline-flex;
	align-items: center;
	color: var(--color-dark-blue);
	padding: clamp(6px, 1.38vw, 20px) clamp(10px, 2.22vw, 32px);
	height: var(--button-big);
	border: none;
	border-radius: var(--border-radius);
	font-size: clamp(15px, 1.04vw, 18px);
}

.button-yellow {
	background-color: var(--color-yellow);
}

.button-yellow:hover {
	background-color: rgb(237, 214, 47);
	color: #016efc;
}

.button-white {
	background: var(--color-white);
}

.button-white:hover {
	background: var(--color-opacity-white);
	color: var(--color-white);
}

.button-slider {
	width: 64px;
	aspect-ratio: 1;
	background-color: var(--color-white);
	border: none;
	border-radius: 50%;
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.1);
}

.button-slider:hover {
	background: var(--color-light-blue);
}

.is-blue {
	color: #1a236e
}




.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20px;
	min-height: var(--header-height);
	padding-inline: 140px;
}


.header-logo {
	flex-shrink: 0;
}


.header-menu-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
}


.header-menu-link {
	display: inline-flex;
	font-size: clamp(15px, 1.25vw, 18px);
	align-items: center;
	height: var(--header-height);
	text-decoration: none;
	color: var(--color-light-blue);
}


.header-actions {
	display: flex;
	column-gap: 32px;
}

.header-paragraf {
	text-align: right;
	font-size: 13px;
	color: var(--color-light-blue);
	font-weight: 700;
}

.header-number-link {
	font-size: clamp(13px, 1.25vw, 18px);
	text-decoration: none;
	color: var(--color-dark-blue);
}

.header-button {
	font-size: clamp(13px, 1.25vw, 18px);
	padding: 12px 24px;
	border: var(--border);
	border-radius: var(--border-radius);
	background-color: var(--color-white);
	color: var(--color-dark-blue);
}


.banner {
	background: url(./image/banner/bg.jpg) center/cover no-repeat;
	min-height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
	align-items: center;



}

.banner-wrapper {
	max-width: 920px;
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}


.banner-description {
	margin-bottom: 16px;
}


.banner-button-application {
	margin-right: 16px;
	margin-bottom: 24px;
}

.banner-button-description {
	margin: 0 auto;
	font-size: 15px;
	max-width: 466px;
}


.trust-us {
	padding-block: clamp(35px, 8.33vw, 120px);
	background-color: var(--color-gray);
}


.trust-us-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: clamp(30px, 4.44vw, 64px)
}

.trust-us-header {
	max-width: 720px;
	text-align: center;
}

.trust-us-title {
	margin-bottom: 24px;
}

.trust-us-description {
	color: var(--color-light-blue)
}

.trust-us-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 30px;
}

.trust-us-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}


.trust-us-item-image {
	position: relative;
	width: 80px;
	aspect-ratio: 1;
	background-color: var(--color-white);
	border-radius: 50%;
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: clamp(16px, 2.22vw, 32px);
}

.trust-us-item-image::after {
	content: "";
	background: url(./icons/persent.svg) center/contain no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 32px;
	aspect-ratio: 1;
}


.trust-us-item-title {
	margin-bottom: 16px;
	font-size: clamp(20px, 1.94vw, 28px);
}

.trust-us-item-description {
	font-weight: 700;
	color: var(--color-light-blue-opacity);
}


.reviews {
	padding: 100px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 211px;
}

.reviews-button-left {
	position: relative;
}


.reviews-button-left::after,
.reviews-button-right::after {
	content: "";
	background: url(./icons/slider-arrow.svg) center/contain no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -65% -50%;
	width: 12px;
	height: 21px;
}


.reviews-body {
	max-width: 730px;
	text-align: center;
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	font-family: var(--font-family-accent);
}

.reviews-image {
	margin: 0 auto;
}

.reviews-text {
	font-size: 24px;
	font-weight: 700;
}


.reviews-name,
reviews-post {
	display: block;
}

.reviews-name {
	font-weight: 600;
}

.reviews-post {
	font-size: 13px;
	color: var(--color-light-blue-opacity);
}

.reviews-button-right {
	position: relative;
	rotate: 180deg;
}




























@media (max-width:1280px) {
	.header {
		column-gap: 30px;
	}
}



@media (max-width:1024px) {
	.header {
		padding-inline: 70px;
		flex-wrap: wrap;
	}


	.header-menu-link {
		height: 50px;
	}


	.trust-us-list {
		grid-template-columns: repeat(2, 0.8fr);
		column-gap: 20px;
		row-gap: 30px;
	}
}


@media (max-width:884px) {
	.header {
		padding-top: 10px;
		padding-inline: 15px;
		column-gap: 10px;
	}

	.header-menu-list {
		column-gap: 15px;
	}

	.header-menu-link {
		height: 32px;
	}

	.header-actions {
		column-gap: 15px;
	}

	.header-button {
		padding: 8px 18px
	}


	.banner-wrapper {
		row-gap: 15px;
	}

	.banner-description {
		margin-bottom: 7px;
	}

	.banner-button-application {
		margin-bottom: 15px;
	}



}


@media(max-width:617px) {

	.header-menu {
		order: 3;
	}


	.banner-button-application {
		margin-right: 8px;
	}

	.trust-us-list {

		grid-template-columns: repeat(1, 1fr);
	}

	.trust-us-item-description {
		padding-inline: 20px
	}

	.trust-us-item-image {
		width: 60px;
	}

	.trust-us-item-image::after {
		width: 28px;
	}
}